/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #141922;
}
span:hover {
  cursor: pointer;
  color: white;
}

/* UTILITIES */
.colorw {
  color: white;
}
.colorg {
  color: grey;
}
.mt25 {
  margin-top: 25px;
}
.br50 {
  border-radius: 50%;
}
/* MAIN */
main {
  flex-grow: 1;
  display: flex;
}
/* aside */
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 200px;
  height: calc(100vh - 60px);
  flex-shrink: 0;
  position: fixed;
}
aside .top-section > *,
aside .bottom-section {
  padding: 0px 10px 0px;
}
/* aside logo */
.logo-container {
  height: 80px;
  width: 100%;
}
.logo {
  background-image: url("/img/logo.svg");
  height: 100%;
  width: 70%;
  background-size: 100% 100%;
}
/* aside nav */
.aside-nav {
  margin-bottom: 10px;
}
.aside-nav.home {
  border-left: 3px solid #adff2f;
}
.aside-nav img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
.aside-nav span,
.playlists span,
.media-content span,
.for-user > span,
.most-popular > span {
  font-size: 13px;
  font-weight: 600;
}
/* aside playlist section */
.playlists li {
  list-style: none;
  margin-bottom: 10px;
}
.add-playlist {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: grey;
}
.add-playlist span {
  line-height: 30px;
  font-size: 25px;
}
/* aside footer */
.bottom-section {
  margin-bottom: 5px;
}
.download {
  font-size: 12px;
  margin-bottom: 5px;
}
.user img {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: grey;
  vertical-align: middle;
}

.user h5 {
  display: inline-block;
  margin-top: 10px;
}
/* main */
.main-section {
  margin-left: 200px;
  flex-grow: 1;
}
.main-section-header {
  padding: 20px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: calc(100vw - 200px);
}
.main-section-header button {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
}
.main-content {
  height: calc(100vh - 120px);
  margin-top: 60px;
  padding: 10px 20px 10px 10px;
  overflow-y: auto;
}
nav {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
nav li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  line-height: 25px;
}
.recently-played,
.for-user,
.most-popular {
  margin: 25px 0 0;
}
.recently-played h3 {
  margin-bottom: 15px;
}
.tracks {
  display: flex;
}
.media-content {
  padding: 10px;
  width: calc(100% / 6);
  text-align: center;
}
.media-content img {
  width: 100%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #282828;
  bottom: 0;
  width: 100vw;
  height: 60px;
  padding-right: 20px;
}
/* left section */
footer .left-section {
  display: flex;
  padding: 10px;
}
footer .left-section img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.currently-playing {
  margin: 0 10px;
}
.currently-playing span {
  font-size: 12px;
}
.left-section .icons {
  margin-left: 20px;
  line-height: 40px;
}
.left-section .icons i {
  margin-right: 10px;
  cursor: pointer;
}
/* central section */
footer .central-content {
  display: flex;
  flex-direction: column;
}
footer .controls {
  text-align: center;
}
footer .controls i {
  vertical-align: middle;
  margin: 3px 15px;
  cursor: pointer;
}
.central-icon {
  font-size: 30px;
}
.duration {
  position: relative;
  display: flex;
  align-items: center;
}
.duration span {
  font-size: 12px;
  margin: 0 5px;
}
.time-line {
  height: 0;
  border: 2px solid;
  border-radius: 15px;
}
.time-line.watched {
  width: 100px;
  border-color: white;
}
.time-line.unwatched {
  width: 400px;
  border-color: grey;
}
.duration .circle-icon {
  left: 130px;
}
/* right section */
footer .right-section {
  display: flex;
  align-items: center;
}
.right-section .options i {
  font-size: 15px;
  margin: 0 10px;
}
.volume-controls {
  display: flex;
  align-items: center;
  position: relative;
}
.volume {
  width: 20px;
  border-color: white;
  cursor: pointer;
}
.max-volume {
  width: 50px;
  border-color: grey;
  cursor: pointer;
}
.circle-icon {
  font-size: 12px;
  opacity: 0;
  position: absolute;
}
.volume-controls .circle-icon {
  left: 15px;
}
/* hover in footer parts */
.currently-playing:hover span {
  text-decoration: underline;
}
.volume-controls:hover .volume,
.duration:hover .watched {
  border-color: #adff2f;
}
.volume-controls:hover .circle-icon,
.duration:hover .circle-icon {
  opacity: 1;
}
